
~$Presentazione.pptx

~$rcolareCorsoAI.doc

~$rso_AI_Docenti.docx

02-AIIntro2011.pdf

10-RetiNeurali.pdf

circolareCorsoAI.doc

Corso_AI_Docenti.docx

Corso_AI_Docenti.pdf

emotiv.png

iit-logo-v3-mainsite.png

introduzione-2015-2pp.pdf

introduzione.pdf

logoitis1.png

percheJupyter.docx

Presentazione.pdf

Presentazione.pptx

~$rcheJupyter.docx

~$rcheJupyter.docx
